<%- include('../head', { title: 'Repository Tags' }) -%>

  <div class="w3-container">
    <h3>List of Repository Tags -
      <%= registry.name %>
        <%= locals.repository ? `- ${locals.repository}`: '' %>
    </h3>
    <table class="w3-table-all">
      <thead>
        <tr class="w3-blue">
          <th>SN</th>
          <th>Tag Name</th>
          <th class="w3-right-align">Compressed Size</th>
          <th class="w3-right-align">SHA Digest</th>
          <th class="w3-right-align">Actions</th>
        </tr>
      </thead>
      <% (locals.items || []).forEach(function(item, index){ %>
        <tr>
          <td>
            <%= index + 1 %>
          </td>
          <td>
            <%= item.name %>
          </td>
          <td class="w3-right-align">
            <%= item.size %>
          </td>
          <td class="w3-right-align">
            <%= item.sha %>
          </td>
          <td class="w3-right-align">
            <a data-repo="<%= repository %>" data-repo-tag="<%= item.name %>" class="w3-text-red w3-btn remove-tag-repo-btn"><i class="fa fa-trash" data-repo="<%= repository %>" data-repo-tag="<%= item.name %>"></i></a>
          </td>
        </tr>
        <% }) %>
    </table>
    <a class="w3-btn w3-blue w3-margin-top" href="/repos">Back</a>
  </div>

  <%- include('../foot') -%>